@mixin center($type: 'both') {

    display: flex;
    flex-wrap: wrap;

    @if $type =='left' {
        justify-content: space-between;

    }

    @else if $type =='right' {
        justify-content: flex-end;
    }

    @else if $type =='both' {
        justify-content: center;
    }


}