@mixin center($type: 'both') {

    display: flex;

    @if $type =='wrap' {
        flex-wrap: wrap;

    }

    @else if $type =='right' {
        justify-content: flex-end;
    }

    @else if $type =='both' {
        justify-content: center;
    }


}